@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;

}
body{
  overflow-x: hidden;
}
div{
  margin: 0;
  padding: 0;
}

@media screen and (max-width:600px) {
.item{
  width: 150px !important;
} 
}
  


